<!doctype html>
<html ng-app="testApp">
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../dist/ngDateRange.js"></script>
    <script src="app.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="DaterangeDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;witdh:100px;">
      <!-- uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker -->      
      <date-range ng-model="range" options="pickerOptions"></date-range>
      {{range.start}}--{{range.end}}
    </div>
</div>
  </body>
</html>
