<!doctype html>
<html ng-app="testApp">
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../dist/ngDateRange.js"></script>
    <script src="app.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="DaterangeDemoCtrl">
    <h4>Demo</h4>
    <div style="display:inline-block; min-height:290px;witdh:100px;">
      <date-range ng-model="range"></date-range>
      <div>{{range.start}}--{{range.end}} </div>
      <div ng-click="range.start=null;range.end=null">Reset</div>
    </div>
</div>
  </body>
</html>
